@keyframes iconph {
    0%{
      border-radius:5% 5% 5% 5%;
      margin-top: -50px;
      transform: rotate(180deg);
      background-color: #ffffff00;
      color: #ffffff00;
      
    
    }
     20%{
      border-radius:10% 10% 10% 10%;
      margin-top: 10px;
      background-color: #2f83c40;
      color: rgba(255,255,255,64);
       transform: rotate(180deg);
    }
     40%{
     background-color: #2f83c80;
     border-radius: 50% 5% 10% 5%;
     color: rgba(255,255,255,128);
     transform: rotate(135deg);
    }
     60%{
     border-radius: 50% 50% 10% 10%;
     background-color: #2f83c0c;
     color: rgba(255,255,255,128);
     transform: rotate(90deg);
    }
     80%{
     border-radius:50% 50% 50% 10%;
     background-color: #2f83cff);
     color: rgba(255,255,255,192);
     transform: rotate(45deg);
     color: white;
    }
      100%{
      border-radius: 50% 50% 50% 50%;
      color: rgba(255,255,255,255);
      transform: rotate(0deg);
    }
  }
  
  .phicon {
    width: 44px;
    height:44px;
    background-color: #2F83C0;
    font-family: "Ubuntu";
    font-size: 10.5px;
    text-align: center;
    margin-top: 2px;
    animation: iconph 2s ease-out 2s;
    border-radius:50% 50% 50% 50%;
    color: white;
  }
  .iconph:hover {
    animation-play-state: paused;
  }
  .box{
    width: 5px;
    height:65px;
    
  }